<%- include('../shared/head'); %>
<head>
	<link rel="stylesheet" href="/css/shared.css" />
</head>
<body>
	<%- include('../shared/nav', {title: "Current Month", link: "/Attendance"}) %>
	<form action="/attendance/update-current-month" method="post">
		<button
			class="submit-button"
			style="display: inline; width: 80%; margin: 5vh 10% 0 10%"
		>
			Sync Changes
		</button>
		<% if(data){ %> <%for(let i = 0; i < data.entries.length; i++){%>
		<table class="table">
			<thead>
				<tr class="table-cell-highlighted">
					<th colspan="4"><%= data.entries[i].employee%></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th class="table-cell-highlighted">Day</th>
					<th class="table-cell-highlighted">Clock In</th>
					<th class="table-cell-highlighted">Clock Out</th>
					<th class="table-cell-highlighted">Total</th>
				</tr>
				<%for(let x = 0; x < data.entries[i].entries.length; x++){%>
				<tr>
					<td class="table-cell"><%= x+1 + "/" + data.month %></td>
					<td class="table-cell">
						<input
							type="text"
							name="clockIn"
							value="<%= data.entries[i].entries[x].clockIn%>"
							class="table-cell-input"
						/>
					</td>
					<td class="table-cell">
						<input
							type="text"
							name="clockout"
							value="<%= data.entries[i].entries[x].clockOut%>"
							class="table-cell-input"
						/>
					</td>
					<td class="table-cell" id="total-<%=x+1%>">
						<%= data.entries[i].entries[x].total%>
					</td>
				</tr>
				<%}%>
				<tr>
					<td colspan="2" class="table-cell-highlighted">
						total Monthly hours
					</td>
					<td colspan="2" id="totalMonthlyHours" class="table-cell-highlighted">
						0
					</td>
				</tr>
			</tbody>
		</table>

		<%}%> <%}%>
	</form>
</body>
